1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [48]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [39]:
#1 a
a=[]
for i in range(1, 101):
    if i%3 == 0 and i%5 != 0:
        #print('Mickey')
        a.append('Mickey')
        
    elif i%5 == 0 and i%3 != 0:
        #print('Mouse')
        a.append('Mouse')
        
    elif i%3 == 0 and i%5 == 0:
        #print('MickeyMouse')
        a.append('MickeyMouse')
        
    else:
        #print(i)
        a.append(i)
        
#1 b
for k, j in zip(a,range(0, 100)):
    
    if k == 'Mickey':
        a[j] = 'Donald'
    if k == 'Mouse':
        a[j] = 'Duck'
print(a)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

In [41]:
#2
def swap(x, y):
    return y, x

x = input('Inserire x')
y = input('inserire y')

x, y = swap(x, y)
print(f'x  = {x}, y = {y}')

Inserire x 1
inserire y 5

x  = 5, y = 1

In [47]:
#3
import numpy as np
def distance(A, B):
    return np.sqrt((A[0]-B[0])**2 + (A[1]-B[1])**2)

print(distance((3, 0), (0, 4)))

5.0

In [35]:
#4
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
s = s.lower()
character={" "}
for alpha in s:
    character.add(alpha)


for beta in character:
    counter = 0  
    
    for alpha in s:
        if beta==alpha:
            counter +=1
    print(f'item "{beta}" = {counter}')

item "c" = 3
item "l" = 6
item "r" = 17
item "f" = 10
item "o" = 13
item "0" = 2
item "n" = 10
item "k" = 2
item "." = 2
item "d" = 3
item "1" = 2
item "p" = 8
item "u" = 9
item "e" = 22
item "y" = 2
item "g" = 1
item "w" = 2
item "s" = 9
item "v" = 2
item "b" = 5
item "t" = 19
item "i" = 14
item "m" = 12
item "h" = 9
item " " = 41
item "a" = 7

In [42]:
#5
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

l_unique = set(l)
print(f'l is made of {len(l_unique)} unique items which are : \n {l_unique}')

l is made of 54 unique items which are :
 {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

In [43]:
#6
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return square(cube(x))

print(sixth(2))

64

In [46]:
#7a
cubes_a =[]
for i in range(0, 11):
    cubes_a.append(i**3)
print(cubes_a)

#7b
cubes_b =[x**3 for x in range(11)]
print(cubes_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [112]:
#8
#num = [[a for a in range(100)], [b for b in range(100)], [c for c in range(100)]]
PTriple = [(a, b, c) for c in range(1,100) for a in range(1,100) for b in range(1,100) if (a**2 +b**2 == c**2)][:: 2]
print(PTriple)
print(len(PTriple))

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (7, 24, 25), (20, 15, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (14, 48, 50), (40, 30, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (16, 63, 65), (33, 56, 65), (52, 39, 65), (60, 25, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (21, 72, 75), (60, 45, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (13, 84, 85), (40, 75, 85), (68, 51, 85), (77, 36, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]
50

In [143]:
#9
def normalization(a):
    import math
    return tuple([y/math.sqrt(sum([x**2 for x in a]))  for y in a])

print(normalization((1,1)))

(0.7071067811865475, 0.7071067811865475)